@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1573464801412'); /* IE9 */
  src: url('iconfont.eot?t=1573464801412#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKYAAsAAAAABkgAAAJLAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApMYgE2AiQDCAsGAAQgBYRtBzYbjgXILqEc21GkSCVmGETLjRZv/7wLgcNDPDyttfdn5u4Qt0gUzaKJZolGSSS2JSolE4qXsFdzuQ84vrU3PiyjSqTQBvcCfNmSY0VoZI0EslWtcFR79fkpG94BgIKlckbivSJ0/7h3+idQIPMB5bgXrTGoC6iLAymgsTZFVkIZN4xd4BKOE+gwQ9I4mVlahb7CGheI5yhwoJ+zKQoLtgnNmqVFVBra0mt6A97C78c/I/okjcxKO3+a9mHsix2Wd2vhzkfYCWh1AxlbQCGua32nWoJRWjp8bQtgX8nBl7r2tWKvKsH+OiuxC0xB9j1xXO6tBhPcVluDwMSoa4lBfORuyL/x9ng02ANvv98z/x9dGJ+91ev9bx7PA1Vr3jKGfpbfkwcNBHX1kdW7s99ZwOeLhwVFugfQthN98DM4PWuKzrM0qaic2sZk8CRFHTpQw6YB32Plw2cOhTbDIwwt0ylkbZbQQm5BQ6dtaGqzDx02za7uNEhoidKODUcAQp8HSHp8QNbnHS3kFzSM+IGmvmhBh9sY3LLTSkTDY4EOoc/cHRZ5Rc4dHQ2j5GUMNlJHZHkhdR1FHTmZrmjF4CzmKOaYUW8GBhFnXBQZmwGnYZoWrBRFjB4pIVFpqiqve5PiFRkMHROQgyAf49rBRDyFHPebk2Hp88tQYEPKIVqqaqzrkFCLOmd0Cq0HOivOe1Xdyyu1TQEDIRzDCYUMMwMGoVSqwJT1g2LIQxThCE/JpNr1eF+xsr40+7ot0MFSpLC7ZF0voZMHceR5qdgAAAAAAA==') format('woff2'),
  url('iconfont.woff?t=1573464801412') format('woff'),
  url('iconfont.ttf?t=1573464801412') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1573464801412#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangjiantou:before {
  content: "\e633";
}

