body,
html {
  height: 10%;
  width: 100%;
}
.returntop {
  display: none;
  text-align: center;
  color: rgb(12, 35, 64);
  font-size: 40px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  background-size: 80%;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  z-index: 201;
}
.o_nav {
  height: 78px;
  width: 100%;
  background: #f8f8f8;
  line-height: 78px;
  position: relative;
  .btn {
    padding: 0;
    border: none;
    height: 78px;
    line-height: 78px;
    position: relative;
    top: -1px;
    left: 0;
    background: #f8f8f8;
    width: 100%;
    z-index: 2000;
    box-shadow: 3px 5px 3px #efefef;
    a {
      padding: 0 3.67%;
      color: #000;
      font-size: 14px;
      float: left;
    }
  }
  .moule {
    background: #fff;
    border-bottom: 3px solid rgb(12, 35, 64);
  }

  #drive {
    line-height: 78px;
    float: right;
    padding: 0 2.5%;
    background: #0c2340;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
  }
}
.ba {
  height: 565px;
  overflow: hidden;
  width: 100%;
  position: relative;
  video {
    position: relative;
    top: -115px;
  }
  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.w1230 {
  margin: 0 auto;
  width: 1230px;
}
.o_maintop {
  height: 440px;
  padding: 30px 0px;
  .maintop-r {
    float: left;
    height: 380px;
    width: 524px;
    h3 {
      font-weight: 400;
      font-size: 34px;
      margin-bottom: 15px;
    }
    .des {
      font-size: 16px;
      margin-bottom: 30px;
      line-height: 32px;
    }
  }
  .maintop-l {
    float: right;
    width: 676px;
    height: 380px;
    img {
      width: 676px;
      height: 380px;
    }
  }
}
.o_mainmid {
  padding: 30px 0px;
  .txt {
    text-align: left;
    h2 {
      font-size: 42px;
    }
    p {
      font-size: 16px;
      line-height: 32px;
      margin-top: 10px;
    }
  }
  //  picture-group
  .x_picture_group {
    position: relative;
    height: 800px;
    margin-top: 20px;
    div {
      position: relative;
      float: left;
      width: 32%;
      height: 100%;
      a {
        position: absolute;
        display: block;
        overflow: hidden;
        width: 100%;
        img {
          object-fit: cover;
          object-position: 50% 50%; //这个属性nb
          transition: all 1s ease;
          width: 100%;
          height: 100%;
        }
      }
      a:hover img {
        transform: scale(1.3);
      }
    }
    // gp1
    .gp1 {
      .gp1_a1 {
        height: 66%;

        img {
          height: 100%;
          width: 100%;
        }
      }
      .gp1_a2 {
        bottom: 0;
        height: 32%;
        img {
          width: 100%;
        }
      }
    }
    // gp2
    .gp2 {
      padding-left: 1%;
      .gp2_a1 {
        height: 32%;
        // img{
        //     width:100%;
        // }
      }
      .gp2_a2 {
        bottom: 0;
        height: 66%;
      }
    }
    // gp3
    .gp3 {
      padding-left: 2%;
      .gp3_a1 {
        height: 66%;
      }
      .gp3_a2 {
        bottom: 0;
        height: 32%;
      }
    }
  }
}
.o_mainde {
  height: 834px;
  padding: 30px 0px;
  .txt {
    text-align: left;
    color: #333;
    h2 {
      font-size: 42px;
    }
    p {
      font-size: 16px;
      line-height: 26px;
      margin: 16px 0;
    }
  }
  .mainde-pic {
    width: 100%;
    height: 570px;
    img {
      width: 100%;
      height: 570px;
    }
  }
}
.o_maintire {
  height: 600px;
  padding: 30px 0;
  color: #333;
  font-size: 16px;
  line-height: 32px;
  img {
    width: 600px;
    height: 400px;
    margin-bottom: 10px;
  }
  .tirepic1 {
    float: left;
    width: 600px;
    height: 400px;
    margin-right: 26px;
  }
  .tirepic2 {
    float: left;
    width: 600px;
    height: 400px;
  }
}
.none {
  display: none;
}
.o_maingran {
  height: 685px;
  padding: 15px 0px;

  position: relative;
  .txt {
    text-align: left;
    color: #333;
    h2 {
      font-size: 42px;
    }
    p {
      font-size: 16px;
      line-height: 26px;
      margin: 16px 0;
    }
  }
  #left {
    font-size: 60px;
    color: rgb(12, 35, 64);
    position: absolute;
    top: 300px;
    left: -45px;
    cursor: pointer;
  }
  #right {
    cursor: pointer;
    font-size: 60px;
    color: rgb(12, 35, 64);
    position: absolute;
    top: 300px;
    right: -45px;
  }
  ul {
    position: absolute;
    bottom: 50px;
    left: 545px;
    li {
      margin: 0 10px;
      float: left;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 1px solid rgb(12, 35, 64);
    }
    .blue {
      background: rgb(12, 35, 64);
    }
  }
  .changecolor {
    position: relative;
    height: 500px;
    overflow: hidden;
    .logol {
      position: absolute;
      top: 30px;
      left: 60px;
      color: #fff;
      font-size: 42px;
      z-index: 1;
    }
    .logor {
      position: absolute;
      top: 30px;
      right: 60px;
      color: #fff;
      font-size: 42px;
    }
    .changer1,
    .changer2 {
      height: 500px;
      position: absolute;
      top: 0;
      img {
        position: absolute;
        top: -100px;
      }
    }
    .changer1 {
      width: 600px;
      z-index: 1;
      position: relative;
      overflow: hidden;
    }
    .changer2 {
      width: 100%;
      overflow: hidden;
    }
    .slider {
      position: absolute;
      top: 0;
      left: 600px;
      z-index: 100;
      width: 1px;
      height: 500px;
      border-left: 1px dashed #fff;
      p {
        position: absolute;
        top: 330px;
        left: -50px;
        color: #fff;
        width: 120px;
        height: 20px;
        z-index: 1000;
        font-size: 14px;
      }
      div {
        width: 65px;
        height: 62px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: 260px;
        left: -32px;
        z-index: 10;
        line-height: 62px;
        text-align: center;
        position: relative;
        cursor: w-resize;
        span {
          color: #333;
          font-size: 25px;
        }
        p {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
.o_bg {
  height: 760px;
  width: 100%;
  padding: 15px 0px;
  position: relative;
  .bg {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.o_maincx {
  height: 760px;
  position: relative;
  z-index: 10;
  .txt {
    text-align: left;
    color: #fff;
    width: 360px;
    position: absolute;
    top: 60px;
    left: 0;
    h2 {
      font-size: 34px;
      margin-bottom: 15px;
    }
    p {
      font-size: 16px;
      line-height: 26px;
      margin: 16px 0;
    }
  }
}
.o_swip {
  height: 464px;
  width: 100%;
  overflow: hidden;
  .swiper-container {
    width: 100%;
    height: 341px;
    margin: 20px auto;
    overflow: visible;
    .swiper-pagination {
      bottom: -60px;
    }
    .swiper-button-next {
      color: #fff;
    }
    .swiper-button-prev {
      color: #fff;
    }
    .swiper-pagination {
      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background: #0c2340;
        border: 1px solid #0c2340;
      }
    }
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    overflow: hidden;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;

    img {
      width: 150%;
      height: 150%;
      transition: all 1s ease;
    }
    .mes {
      width: 100%;
      height: 100%;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      .borderblue {
        border-top: 40px solid #0c2340;
        border-right: 40px solid #0c2340;
        border-left: 40px solid rgba($color: #000000, $alpha: 0);
        border-bottom: 40px solid rgba($color: #000000, $alpha: 0);
        position: absolute;
        top: 0;
        right: 0;
      }
      span {
        font-size: 50px;
        line-height: 50px;
        color: #dddddd;
        position: absolute;
        top: 0;
        right: 0;
      }
      p {
        text-align: left;
        padding: 60px 30px 30px;
        font-size: 32px;
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
  .swiper-slide:hover img {
    transform: scale(1.3);
  }
  .swiper-slide:hover p {
    background: rgba(0, 0, 0, 0.2);
  }
}
.o_two {
  height: 45px;
  padding: 30px 0;
  p {
    height: 45px;
    text-align: center;
    a {
      display: inline-block;
      width: 135px;
      height: 35px;
      line-height: 35px;
      background: rgb(12, 35, 64);
      color: #fff;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}
.o_mainsc {
  height: 52px;
  padding: 30px 0;
  .txt {
    text-align: left;
    color: #333;
    h2 {
      font-size: 34px;
      padding-bottom: 15px;
    }
  }
}
.o_mainaq {
  height: 312px;
  padding: 60px 0;
  .con_l {
    float: left;
    width: 555px;
    height: 312px;
    margin-right: 60px;
    img {
      width: 555px;
      height: 312px;
    }
  }
  .con_r {
    float: left;
    .text {
      font-size: 18px;
      color: #333;
      width: 614px;
      height: 200px;
      strong {
        font-weight: 700;
      }
      p {
        line-height: 30px;
        margin: 20px 0;
      }
    }
    .morems {
      margin-top: 70px;
      font-size: 14px;
      color: #333;
      line-height: 25px;
      display: flex;
      align-items: center;
      span {
        margin-right: 30px;
        cursor: pointer;
      }
      img {
        width: 25px;
        height: 25px;
        display: inline-block;
      }
    }
  }
}
.o_mainaq2 {
  height: 380px;
  padding: 30px 0;
  .con_l {
    float: left;
    padding-right: 30px;
    width: 523px;
    height: 230px;
    .text {
      font-size: 20px;
      color: #000;
      width: 523px;
      height: 230px;
      margin-top: 80px;
      strong {
        font-weight: 400;
        font-size: 34px;
      }
      p {
        line-height: 30px;
        font-size: 16px;
        margin: 20px 0;
      }
      .p1 {
        font-size: 18px;
      }
    }
  }
  .con_r {
    float: left;
    width: 675px;
    height: 380px;
    img {
      width: 675px;
      height: 380px;
    }
  }
}
.o_mainsp {
  height: 390px;
  width: 100%;
  position: relative;
  overflow: hidden;
  .sp {
    height: 390px;
    position: relative;
    .text {
      position: absolute;
      top: 60px;
      left: 0;
      font-size: 20px;
      color: #fff;
      z-index: 10;
      a {
        display: block;
        width: 150px;
        height: 25px;
        text-align: center;
        line-height: 25px;
        background: #fff;
        color: #000;
        margin-top: 30px;
        border-radius: 3px;
        font-size: 14px;
      }
    }
  }
  img {
    position: absolute;
    top: -290px;
    left: 0;
    width: 100%;
  }
}
.o_ghi {
  padding: 30px 0;
  height: 614px;
  .title_con {
    color: #000;
    h2 {
      font-weight: 300;
      font-size: 42px;
    }
    p {
      font-size: 16px;
      margin-top: 10px;
      line-height: 32px;
    }
  }
  .slide-content {
    height: 500px;
    width: 100%;
    display: flex;
    margin-top: 30px;
    color: #333;
    position: relative;
    .module-l {
      width: 240px;
      height: 350px;
      padding: 30px 40px 30px 0;
      text-align: right;
      margin-top: 90px;
      .select {
        font-size: 21px;
        margin-bottom: 10px;
      }
      i {
        font-size: 14px;
        text-align: center;
        color: #333;
        border: 2px solid #333;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: inline-block;
        line-height: 30px;
        cursor: pointer;
      }

      .arrow-down {
        i {
          font-size: 14px;
          color: #333;
        }
      }
      .module-list {
        font-size: 24px;
        padding: 20px 0;
        p {
          opacity: 0.35;
          cursor: pointer;
        }
        .big {
          font-size: 30px;
          opacity: 1;
        }
      }
    }
    .module-m {
      width: 70px;
      height: 100%;
    }
    .module-r {
      width: 877px;
      height: 100%;
      position: relative;
      .mes {
        margin-left: 35px;
        font-size: 18px;
        width: 90%;
        position: absolute;
        top: 0;
        left: 0;
        h2 {
          font-size: 32px;
          color: #0c2340;
          line-height: 48px;
        }
        .music {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 13px;
          height: 40px;
          line-height: 40px;
        }
      }
      .module-img {
        width: 100%;
        height: 500px;
        .img-top {
          width: 100%;
          height: 336px;
          display: flex;
          justify-content: center;

          img {
            width: 60%;
            height: 80%;
            align-self: center;
          }
        }
        .img-mid {
          width: 100%;
          height: 100px;
          display: flex;
          cursor: pointer;
          
          .mid-con {
            width: 16%;
            height: 90px;
            padding-top: 10px;
            text-align: center;
            border-right: solid 1px #d8d8d8;
            p {
              color: #b6b6b6;
              font-size: 12px;
            }
            span {
              font-size: 28px;
              color: #333;
              line-height: 1.2;
            }
            .measure {
              font-size: 13px;
            }
          }
        }
        .no {
          display: none;
        }
        .img-bot {
          cursor: pointer;
          width: 100%;
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: start;
          .left {
            font-size: 13px;
            display: flex;
            p {
              margin-right: 20px;
              display: inline-block;
              span {
                border: 1px solid #ccc;
                border-radius: 50%;
                display: inline-block;
                width: 20px;
                height: 20px;
                color: #ccc;
                text-align: center;
                margin-left: 5px;
              }
            }
          }
          .right {
            p {
              height: 40px;
              width: 180px;
              text-align: center;
              a {
                display: inline-block;
                width: 180px;
                height: 40px;
                line-height: 35px;
                background: rgb(12, 35, 64);
                color: #eee;
                margin-bottom: 10px;
                border-radius: 3px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
.o_serv {
  h1 {
    font-weight: 400;
    font-size: 42px;
    line-height: 60px;
    padding: 30px 0;
  }
}
.o_icon {
  width: 100%;
  ul {
    display: flex;
    width: 100%;
    border-top: 1px solid #ebebeb;
    li {
      border-right: 1px solid #ebebeb;
      border-bottom: 1px solid #ebebeb;
      text-decoration: none;
      color: #333;
      background-color: #fff;
      text-align: center;
      letter-spacing: 0;
      line-height: 1.5;
      width: 20%;
      padding: 50px 0 35px;
      box-sizing: border-box;
      vertical-align: bottom;
      display: flex;
      flex-direction: column;
      font-size: 16px;
      .active {
        background-color: rgb(242, 241, 240);
      }
      i {
        font-size: 45px;
        margin-bottom: 5px;
      }
    }
    .active {
      background-color: rgb(242, 241, 240);
    }
  }
}
